<!DOCTYPE HTML>
<html>
<head>
    <title>스프링 부트 카카오 로그인 테스트</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>
<h1>스프링 부트 카카오 로그인 테스트</h1>
<h3>게스트 페이지</h3>
<p>게스트 권한을 가지게 되었습니다.</p>
<p>로그인 상태로 접근하였거나, 이 페이지로 들어오는 과정에서 자동으로 소셜 로그인이 진행되었습니다. </p>
</body>
</html>