<!DOCTYPE HTML>
<html>
<head>
    <title>스프링 부트 카카오 로그인 테스트</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>
    <div id="userinfo-page">
        <h2>이름을 입력 후 채팅 참여</h2>
        <h3>유저 정보</h3>
        <span>{{userNickname}}</span>
        <br/>
        <span>{{userEmail}}</span>
        <br/>
        <a href="/logout" role="button">로그아웃</a>
        <h3>푸시 알림</h3>
        <input type="button" onClick="customShowNotification();" value="푸시 알림 보기">
    </div>
    <div id="username-page">
        <div class="username-page-container">
            <h3>채팅 참여하기</h3>
            <form id="usernameForm" name="usernameForm">
                <div class="form-group">
                    <input type="text" id="name" placeholder="Username" autocomplete="off" class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" class="accent username-submit">채팅 시작하기</button>
                </div>
            </form>
        </div>
    </div>
    <div id="chat-page" hidden="true">
        <div class="chat-container">
            <div class="chat-header">
                <p id="chat-title" style="font-size: 24px;">스프링부트 실시간 채팅 데모</p>
            </div>
            <div class="connecting">
                연결중...
            </div>
            <ul id="messageArea">

            </ul>
            <form id="messageForm" name="messageForm">
                <div class="form-group">
                    <div class="input-group clearfix">
                        <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control"/>
                        <button type="submit" class="primary">보내기</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/push.js"></script>
</body>
</html>