<!DOCTYPE HTML>
<html>
<head>
    <title>스프링 부트 카카오 로그인 테스트</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>
    <h1>스프링 부트 카카오 로그인 테스트</h1>
</body>
</html>