<!DOCTYPE HTML>
<html>
<head>
    <title>스프링 부트 소셜 로그인 테스트</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>
    <h1>스프링 부트 소셜 로그인 테스트</h1>
    <h3>게스트 권한 확인</h3>
    <a href="/guest" role="button">게스트 페이지</a>
    {{#userNickname}}
        <h3>유저 정보</h3>
        <span>{{userNickname}}</span>
        <br/>
        <span>{{userEmail}}</span>
        <br/>
        <img src={{userPicture}} alt="프로필 사진" />
        <br/>
        <input type="button" onClick="fetch('/self/message', {method: 'POST'});" value="푸시 알림 보기">
        <br/>
        <a href="/logout" role="button" methods>로그아웃</a>
    {{/userNickname}}
    {{^userNickname}}
        <h3>로그인 버튼</h3>
        <a href="oauth2/authorization/google">
            <img src="images/google_login.png" alt="구글 로그인" />
        </a>
        <a href="/oauth2/authorization/naver">
            <img src="images/naver_login.png" alt="네이버 로그인" />
        </a>
        <a href="/oauth2/authorization/kakao">
            <img src="images/kakao_login.png" alt="카카오 로그인" />
        </a>
    {{/userNickname}}


    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-messaging.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script>
      const firebaseModule = (function () {
        async function init() {
            // Your web app's Firebase configuration
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', function() {
                    console.log("0");
                    navigator.serviceWorker.register('/firebase-messaging-sw.js')
                    .then(registration => {
                        console.log("1");
                        console.log(registration);
                        // firebase configuration
                        var firebaseConfig = {
                          apiKey: "AIzaSyB7m_sWQthaJzMa_jU1ZeXLnZ2xfDoo1dc",
                          authDomain: "valid-amplifier-289205.firebaseapp.com",
                          databaseURL: "https://valid-amplifier-289205.firebaseio.com",
                          projectId: "valid-amplifier-289205",
                          storageBucket: "valid-amplifier-289205.appspot.com",
                          messagingSenderId: "79451104882",
                          appId: "1:79451104882:web:0bac03503890db835e44eb"
                        };
                        // firebase initialization
                        firebase.initializeApp(firebaseConfig);
                        const messaging = firebase.messaging();
                        console.log("3");
                        messaging.requestPermission()
                        .then(function() {
                            return messaging.getToken();
                        })
                        .then(async function(token) {
                            await fetch('/register?token=' + token, { method: 'PATCH' });
                            messaging.onMessage(payload => {
                                const title = payload.notification.title
                                const options = {
                                    body : payload.notification.body
                                }
                                navigator.serviceWorker.ready.then(registration => {
                                    registration.showNotification(title, options);
                                })
                            })
                        })
                        .catch(function(err) {
                            console.log("Error Occured");
                        })
                    })
                    .catch(function(err) {
                        console.log(err);
                    })
                })
            }
        }

        return {
            init: function () {
                init()
            }
        }
      })()
      console.log("init");
      firebaseModule.init();
    </script>
</body>
</html>